body{
    font-family: 'Special Elite', cursive;
    background: pink;
}
.header_div{
    background: white;
    color: red;
}
.header_div p{
    font-family: "roboto",sans-serif;
    color: grey;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}
.main_div button{
    font-family: "roboto",sans-serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}
.copy_right_footer{
    position: fixed;
    bottom: 0;
    text-align: center;
    background-color: white;
    width: 100%;
    font-size: 18px;
    line-height: 3;
    text-shadow: 5px 5px 5px grey;
}